body{
    background-color: black;
}

body:hover{
    background-color: white;
}
#fm {
    border: 2px solid black;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgb(0, 255, 255);
    color: black;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000ef;
    position: absolute;
    top: 40%;
    left:  40%;

}
#fm:hover{
    background-color: lightcoral;
    
}

label{
    color: black;
    font-weight: 200;
    font-size: large;
    
    

}


input{
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px #000000ef;

}

input:hover{
    color: black;
    background-color: cyan;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px #000000ef;


    

}

.button{
    background-color: cornflowerblue;
    


}

.button:hover{
    

    color: white;
    background-color: red;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000ef;
    
}