
/* NAVBAR CSS SAME FOR ALL FILE*/
/* Desktop Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



.navbar .logo img {
   max-height: 50px;
}



.navbar .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: black;
}

.navbar .icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

#click{
    display: none;
}

.menu-icon {
    display: none;
}

/* Mobile Navbar */
@media only screen and  (max-width: 768px) {
    html, body {
        overflow-x: hidden;
      }
    body{
        overflow-x: hidden;
    }
    
    .navbar {
        justify-content: space-between;
        position: relative;
    }

    .menu {
        display: none;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 0;
        
        
        text-align: center;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    
    #click:checked~.navbar .menu{
        display: block;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    .icons {
        display: none;
    }
}


/*tablet navbar*/
@media (min-width: 426px) and (max-width: 768px) {
    .navbar {
        padding: 8px 15px; 
    }

    .navbar .logo img {
        max-height: 40px; 
    }

    .navbar .menu ul {
        gap: 20px; 
        font-size: 18px; 
    }

    .navbar .icons {
        gap: 40px; 
        font-size: 40px; 
    }
}


/* Rooms*/
/* Rooms section css*/ 
.rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.room-first {
    background-color: white;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 220px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.room-first:hover {
    transform: scale(1.05);
}

.room-first img {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    margin-bottom: 15px;
}

.room-first h3 {
    font-size: 18px;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    color: red;
}

.original-price {
    text-decoration: line-through;
    color: rgba(136, 136, 136, 1);
    margin-left: 10px;
}

  